* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    background-image: url(Resources/Background-Black-Sand.jpeg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: antiquewhite;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

a:hover {
    color: rgb(175, 35, 145);
}

li {
    list-style: none;
}

/* --------------------------------------------------------------- */

.navbar {
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 10vh;
    opacity: 0.6;
}

.main-menu ul {
    display: flex;
    height: 10vh;
    justify-content: end;
    align-items: center;
}


.main-menu ul li {
    margin-right: 3vw;
    padding: 2vh 1vw;
    border: 2px solid antiquewhite;
    border-top: 0px;
    border-bottom: 0px;
    transition: 500ms ease-in-out;
}

.main-menu ul li:hover {
    background-color: rgb(60, 60, 60);
    border: 2.5px solid antiquewhite;
    border-radius: 50%;
}

main {
    height: 80vh;
}

footer {
    background-color: rgb(40, 40, 40);
    width: 100%;
    height: 10vh;
    opacity: 0.6;
}

footer ul {
    font-size: 16px;
    color: antiquewhite;
    padding: 1vh 0vw 0vh 3vw;
}

.logo {
    position: absolute;
    left: 5vw;
    top: 1.5vh;
    opacity: 0.05;
    width: 5vw;
    height: 7vh;
    transition: 1500ms;
}

.logo:hover {
    opacity: 0.5;
    transform: rotateY(720deg) scaleX(3) scaleY(1.5);
}

main .content h1 {
    text-align: center;
    padding-top: 5vh;
    margin-right: 50vw;
    color: rgba(250, 235, 215, 0.600);
}

main .content h1 a {
    opacity: 0.6;
}


main .content h2 {
    text-align: center;
    padding-top: 5vh;
    margin-right: 50vw;
    color: rgba(250, 235, 215, 0.600);
}
main .content p {
    text-align: center;
    font-size: 2rem;
    margin: 3rem 0;
    color: rgba(250, 235, 215, 0.600);
}

.main-form {
    margin: 0 auto;
    max-width: 50%;
    color: rgba(250, 235, 215, 0.600);
}

.main-form input {
    padding: .5rem;
    margin: 1rem .5rem;
    border-radius: 1rem;
    background-color: rgb(40, 40, 40);
    color: rgba(250, 235, 215, 0.600);
    transition: padding 400ms ease-out;
}

.main-form input:hover {
    padding: 0.7rem;
}

.main-form input:focus {
    color: rgba(250, 235, 215, 0.600);
    outline: 2px solid rgba(250, 235, 215, 0.600);
}


/* --------------------------------------------------------------- */

@media screen and (max-width: 750px) {

    main {
        height: 75vh;
    }

    .main-menu ul li {
        font-size: 18px;
    }

    main .content p {
        font-size: 16px;
        margin: 0px auto;
    }

    main .content h1 {
        font-size: 26px;
        margin: 5vh auto 0vh auto;
    }

    main .content h2 {
        margin: 5vh auto 0vh auto;
    }
}

@media screen and (max-width: 700px) {
    .main-menu ul li {
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) {
    .main-menu ul li {
        font-size: 13px;
    }
}